* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "roboto", "Arial", sans-serif;
}
section {
  width: 100%;
  aspect-ratio: 16 / 10;
}

/* KV ==================================================== */
.section-index-kv {
  background: url(images/bg-index-section1.jpg) no-repeat center center / cover;
  position: relative;

  video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    aspect-ratio: 16 / 10;
    object-fit: cover;
  }
}

/* Part1 ==================================================== */
.section-part1 {
  position: relative;
  background: url(images/bg-gradient.png) no-repeat center top / cover;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 100%;
    width: 100%;
    aspect-ratio: 16.27/1;
    background: url(images/bg-part1-top.png) no-repeat center top / 100% auto;
    z-index: 1;
  }

  .container {
    position: relative;
    width: 100%;
    aspect-ratio: 16 / 10;
    background: url(images/bg-gradient.png) no-repeat center top / cover;
    padding-top: 5.41666667vw;

    .main-title {
      text-align: center;
      color: #fff;

      .main-title-l1 {
        font-size: 3.333333vw;
        font-weight: 700;
        line-height: 1.25;
      }
      p {
        font-size: 1.875vw;
        font-weight: 500;
        line-height: 2;
        margin-block: 0.70555556em;
      }
    }
  }
  .slogan {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 7.5vw;
    font-weight: 700;
    color: #eafbff;
    text-align: center;
  }
}

/* Part2 ==================================================== */
