* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", "Arial", sans-serif;
  font-variation-settings: "wdth" 100;
}
/* .roboto-<uniquifier > {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings: "wdth" 100;
} */
:root {
  --title-txt-size: 3.333333vw;
  --title-line-height: 1.25;
  --title-weight: 700;
  --txt-size: 1.875vw;
  --txt-line-height: 2;
  --title-color: #fff;
  --txt-color: #fff;
  --txt-weight: 400;
  --slogan-font-size: 7.5vw;
  --slogan-color: #eafbff;
}
section {
  width: 100%;
  aspect-ratio: 16 / 10;
}

/* KV ==================================================== */
.section-index-kv {
  background: url(images/bg-index-section1.jpg) no-repeat center center / cover;
  position: relative;

  .main-title {
    position: absolute;
    left: 8.3333333%;
    text-align: left;
    color: var(--title-color);
    margin-top: 4.5em;

    .main-title-l1 {
      font-size: var(--title-txt-size);
      font-weight: var(--title-weight);
      line-height: 1.1;
    }

    p {
      font-size: var(--txt-size);
      font-weight: 500;
      line-height: var(--txt-line-height);
      margin-block: 0.70555556em;
    }
  }

  video {
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(0%, -50%);
    width: 100%;
    aspect-ratio: 16 / 10;
    object-fit: cover;
  }
}

/* slogan ==================================================== */
.slogan {
  width: 100%;
  aspect-ratio: 16 / 10;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--slogan-font-size);
  font-weight: 700;
  color: var(--slogan-color);
  text-align: center;
  background-color: #82aeb9;
}
.section-part1 .container:first-child {
  position: sticky;
  top: 0;
}
.section-part1 .container:last-child {
  position: absolute;
  bottom: 0;
}

/* 小車清單 ==================================================== */
.car-list {
  opacity: 1;
  position: absolute;
  z-index: 5;
  width: 100%;
  top: 15vw;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;

  img {
    width: 100%;
  }

  .car-item {
    position: relative;

    img {
      opacity: 0;
      position: relative;
      z-index: 1;
    }

    .txt {
      opacity: 0;
      position: absolute;
      top: 16%;
      font-size: 2.5vw;
      font-weight: 200;
      color: #fff;
    }
  }
  /* 小汽車位置偏移 */
  .car-item:nth-child(1) {
    transform: translate(40%, 70%);
    .txt {
      right: 40%;
    }
  }
  .car-item:nth-child(2) {
    transform: translate(0, 20%);
    .txt {
      left: 0;
    }
  }
  .car-item:nth-child(3) {
    transform: translate();
    .txt {
      left: 0;
    }
  }
  .car-item:nth-child(4) {
    transform: translate();
    .txt {
      right: 0;
    }
  }
  .car-item:nth-child(5) {
    transform: translate(0, 20%);
    .txt {
      right: 0;
    }
  }
  .car-item:nth-child(6) {
    transform: translate(-40%, 70%);
    .txt {
      right: 0;
    }
  }
}
/* 小汽車依序動畫 */
.s1 {
  --ani-time-gap: 0.5s;
  .car-list {
    .car-item:nth-child(1) {
      img {
        opacity: 1;
        transition: var(--ani-time-gap) calc(var(--ani-time-gap) * 0);
      }
      .txt {
        opacity: 1;
        transition: var(--ani-time-gap) calc(var(--ani-time-gap) * 3);
      }
    }
    .car-item:nth-child(2) {
      img {
        opacity: 1;
        transition: var(--ani-time-gap) calc(var(--ani-time-gap) * 0.5);
      }
      .txt {
        opacity: 1;
        transition: var(--ani-time-gap) calc(var(--ani-time-gap) * 3.5);
      }
    }
    .car-item:nth-child(3) {
      img {
        opacity: 1;
        transition: var(--ani-time-gap) calc(var(--ani-time-gap) * 1);
      }
      .txt {
        opacity: 1;
        transition: var(--ani-time-gap) calc(var(--ani-time-gap) * 4);
      }
    }
    .car-item:nth-child(4) {
      img {
        opacity: 1;
        transition: var(--ani-time-gap) calc(var(--ani-time-gap) * 1.5);
      }
      .txt {
        opacity: 1;
        transition: var(--ani-time-gap) calc(var(--ani-time-gap) * 4.5);
      }
    }
    .car-item:nth-child(5) {
      img {
        opacity: 1;
        transition: var(--ani-time-gap) calc(var(--ani-time-gap) * 2);
      }
      .txt {
        opacity: 1;
        transition: var(--ani-time-gap) calc(var(--ani-time-gap) * 5);
      }
    }
    .car-item:nth-child(6) {
      img {
        opacity: 1;
        transition: var(--ani-time-gap) calc(var(--ani-time-gap) * 2.5);
      }
      .txt {
        opacity: 1;
        transition: var(--ani-time-gap) calc(var(--ani-time-gap) * 5.5);
      }
    }
  }
}
.s2,
.s3,
.s4,
.s5 {
  .car-list {
    opacity: 0;
    transition: 0.5s;
  }
}

/* Part1 ==================================================== */
.section-part1 {
  position: relative;
  background: url(images/bg-gradient.png) no-repeat center top / cover;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 100%;
    width: 100%;
    aspect-ratio: 16.27/1;
    background: url(images/bg-part1-top.png) no-repeat center top / 100% auto;
    z-index: 1;
  }

  .container {
    position: relative;
    width: 100%;
    aspect-ratio: 16 / 10;
    background: url(images/bg-gradient.png) no-repeat center top / cover;

    .main-title {
      text-align: center;
      color: #fff;
      z-index: 5;
      padding-top: 5.41666667vw;

      .main-title-l1 {
        font-size: var(--title-txt-size);
        font-weight: 700;
        line-height: var(--title-line-height);
      }
      p {
        font-size: var(--txt-size);
        font-weight: 500;
        line-height: var(--txt-line-height);
        margin-block: 0.70555556em;
      }
    }
  }
}

/* Part2 ==================================================== */
.section-part2 {
  position: relative;
  background: #000;

  .container {
    position: relative;
    width: 100%;
    aspect-ratio: 16 / 10;

    .bg {
      position: absolute;
      z-index: 0;
      width: 100%;
      height: 100%;
      inset: 0;
      overflow: hidden;

      img,
      video {
        object-fit: cover;
        width: 100%;
        height: 100%;
        object-position: center;
      }
    }

    .tag {
      position: absolute;
      top: 4em;
      left: 8.333333%;
      font-size: 1.875vw;
      fonwt-weight: 500;
      color: var(--txt-color);
      border-left: 8px solid #82aeb9;
      line-height: 1.33333333;
      padding-left: 0.5em;
      z-index: 5;
    }

    .main-title {
      position: absolute;
      left: 8.333333%;
      bottom: 8vmin;
      text-align: left;
      color: var(--title-color);
      z-index: 5;

      .main-title-l1 {
        font-size: var(--title-txt-size);
        font-weight: var(--title-weight);
        line-height: var(--title-line-height);
      }
      p {
        font-size: var(--txt-size);
        font-weight: var(--txt-weight);
        line-height: 1.4;
        margin-block: 0.70555556em;
      }
    }
  }

  .container-comfort {
    .other-info {
      position: absolute;
      top: 25%;
      width: 100%;
      z-index: 4;

      display: flex;
      justify-content: center;
      gap: 4vmin;

      .pic {
        width: 16.66666667vw;
        height: 16.66666667vw;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }

  .container-listens,
  .container-can-feel {
    .other-info {
      position: absolute;
      top: 50%;
      right: 8.3333333%;
      width: 33.33333333%;
      z-index: 4;
      transform: translateY(-60%);

      .pic {
        width: 100%;
        height: 100%;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }

  .container-understands,
  .container-multiple-zones {
    .other-info {
      position: absolute;
      top: 23%;
      width: 100%;
      z-index: 4;

      display: flex;
      justify-content: center;
      gap: 16vw;

      .pic {
        width: 17.55208333vw;
        height: 17.55208333vw;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }

  .container-Engineered {
    .tag {
      border-left-color: #fff;
    }
  }
}

/* .Part1 content ======================== */
.section-part1 {
  .main-title {
    .title-topic {
      position: absolute;
      width: 100%;
      opacity: 0;
      transition: 1s;
    }
  }
  .s1 {
    .topic1 {
      opacity: 1;
    }
  }
  .s2 {
    .topic2 {
      opacity: 1;
    }
  }
  .s3 {
    .topic3 {
      opacity: 1;
    }
  }
  .s4 {
    .topic4 {
      opacity: 1;
    }
  }
  .s5 {
    .topic5 {
      opacity: 1;
    }
  }

  .main-car {
    width: 100%;
    position: absolute;
    z-index: 5;
    bottom: 0;
    transform: translateX(0);
    transition: 1s;

    .car {
      position: absolute;
      z-index: 4;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      transform: translateY(0%);

      img,
      video {
        width: 100%;
        height: auto;
      }
      img.car_ready {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        transform: translateY(-2%);
        margin: auto;
        width: 55%;
        height: auto;
        transition: opacity 1s 1s;
      }
    }

    .light-circle {
      --inset-inline: 0;
      position: absolute;
      left: var(--inset-inline);
      right: var(--inset-inline);
      bottom: 0;
      transform: scaleY(1) translateY(-6%);
      width: 100%;
      mix-blend-mode: screen;
      overflow: hidden;
      transition: 1s;

      img,
      video {
        width: 100%;
      }
    }
  }

  .s2 .main-car,
  .s3 .main-car,
  .s4 .main-car {
    transform: translateX(-16.66666667%);

    .car {
      transform: translateY(-6%);
    }
    .light-circle {
      --inset-inline: 20%;
      transform: scaleY(0.5) translateY(14%);
      width: calc(100% - var(--inset-inline) * 2);
    }
  }
  .s5 .main-car {
    transform: translateX(0%);
    .car {
      transform: translateY(-6%);
    }
    .light-circle {
      --inset-inline: 20%;
      transform: scaleY(0.5) translateY(12%);
      width: calc(100% - var(--inset-inline) * 2);
    }
  }

  .function,
  .sys-progress,
  .component-check {
    width: 26.875vw;
    position: absolute;
    top: 39vw;
    right: 8.333333%;
    transform: translateY(-50%);

    .function-list,
    .component-check-list {
      li {
        display: flex;
        align-items: center;
        list-style: none;
        gap: 0.5vw;
        padding-block: 2ex;
        padding-inline: 1em;

        &:not(:first-child) {
          border-top: 1px solid #fff;
        }

        &[disabled] {
          * {
            opacity: 0.5;
          }
        }

        .function-list-icon {
          img {
            width: 5vw;
          }
        }
        .function-list-txt {
          color: #fff;
          width: 0;
          flex-grow: 1;
          font-size: 1.875vw;
        }
        .function-list-check {
          width: 4vw;
          color: #fff;
          font-size: 1.875vw;
          text-align: center;
          opacity: 0;
        }
      }
    }
  }
  .s2 .function,
  .s3 .sys-progress {
    opacity: 1;
  }

  .function {
    --ani-time-gap: 0.5s;
    li {
      opacity: 0;
      transform: translateX(-20%);
    }
  }
  .s2 .function {
    li:nth-child(1) {
      opacity: 1;
      transform: translateX(0);
      transition: var(--ani-time-gap) calc(var(--ani-time-gap) * 0);
    }
    li:nth-child(2) {
      opacity: 1;
      transform: translateX(0);
      transition: var(--ani-time-gap) calc(var(--ani-time-gap) * 0.5);
    }
    li:nth-child(3) {
      opacity: 1;
      transform: translateX(0);
      transition: var(--ani-time-gap) calc(var(--ani-time-gap) * 1);

      .function-list-check {
        opacity: 1;
        transition: var(--ani-time-gap) calc(var(--ani-time-gap) * 2.5);
      }
    }
    li:nth-child(4) {
      opacity: 1;
      transform: translateX(0);
      transition: var(--ani-time-gap) calc(var(--ani-time-gap) * 1.5);
    }
    li:nth-child(5) {
      opacity: 1;
      transform: translateX(0);
      transition: var(--ani-time-gap) calc(var(--ani-time-gap) * 2);

      .function-list-check {
        opacity: 1;
        transition: var(--ani-time-gap) calc(var(--ani-time-gap) * 3);
      }
    }
  }

  .sys-progress {
    opacity: 0;
  }

  .s3 .sys-progress {
    opacity: 1;
    transition: 0.5s;
  }
  .component-check {
    .component-check-list {
      li {
        opacity: 0;
        transform: translateX(20%);
      }
    }
  }
  .s4 .component-check {
    --ani-time-gap: 0.5s;
    li:nth-child(1) {
      opacity: 1;
      transform: translateX(0);
      transition: var(--ani-time-gap) calc(var(--ani-time-gap) * 0.5);
    }
    li:nth-child(2) {
      opacity: 1;
      transform: translateX(0);
      transition: var(--ani-time-gap) calc(var(--ani-time-gap) * 1);
    }
    li:nth-child(3) {
      opacity: 1;
      transform: translateX(0);
      transition: var(--ani-time-gap) calc(var(--ani-time-gap) * 1.5);
    }
    li:nth-child(4) {
      opacity: 1;
      transform: translateX(0);
      transition: var(--ani-time-gap) calc(var(--ani-time-gap) * 2);
    }
    li:nth-child(5) {
      opacity: 1;
      transform: translateX(0);
      transition: var(--ani-time-gap) calc(var(--ani-time-gap) * 2.5);
    }
    li:nth-child(6) {
      opacity: 1;
      transform: translateX(0);
      transition: var(--ani-time-gap) calc(var(--ani-time-gap) * 3);
    }
    li:nth-child(7) {
      opacity: 1;
      transform: translateX(0);
      transition: var(--ani-time-gap) calc(var(--ani-time-gap) * 3.5);
    }
    li:nth-child(8) {
      opacity: 1;
      transform: translateX(0);
      transition: var(--ani-time-gap) calc(var(--ani-time-gap) * 4);
    }
  }

  .component-list {
    position: absolute;
    z-index: 3;
    left: 12vw;
    top: 24vw;
    display: flex;
    gap: 1vw;

    .item {
      opacity: 0;
      width: 7.70833333vw;
      img {
        width: 100%;
      }

      &:nth-child(2),
      &:nth-child(4) {
        transform: translateY(14%);
      }

      &:nth-child(1) {
        transform: translateX(12%) translateY(70%);
      }
      &:nth-child(5) {
        transform: translateX(-12%) translateY(70%);
      }
    }
  }

  .s3 .component-list {
    --ani-time-gap: 0.8s;
    .item:nth-child(1) {
      opacity: 1;
      transition: var(--ani-time-gap) calc(var(--ani-time-gap) * 0.5);
    }
    .item:nth-child(2) {
      opacity: 1;
      transition: var(--ani-time-gap) calc(var(--ani-time-gap) * 1);
    }
    .item:nth-child(3) {
      opacity: 1;
      transition: var(--ani-time-gap) calc(var(--ani-time-gap) * 1.5);
    }
    .item:nth-child(4) {
      opacity: 1;
      transition: var(--ani-time-gap) calc(var(--ani-time-gap) * 2);
    }
    .item:nth-child(5) {
      opacity: 1;
      transition: var(--ani-time-gap) calc(var(--ani-time-gap) * 2.5);
    }
  }
  /* 三顆泡泡 */
  .intelligence-bubble {
    position: absolute;
    z-index: 3;
    left: 0;
    right: 0;
    top: 21vw;
    display: flex;
    justify-content: center;
    gap: 1vw;

    .bubble {
      opacity: 0;
      transition: 1s;
      &:nth-child(odd) {
        transform: translateY(34%);
      }
      img {
        width: 100%;
      }
    }
  }

  .s5 .intelligence-bubble {
    .bubble {
      opacity: 1;
      transition-property: opacity;
      transition-delay: 1.5s;
    }
  }
}
