* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: roboto, "Arial", sans-serif;
}
:root {
  --title-txt-size: 3.333333vw;
  --title-line-height: 1.25;
  --title-weight: 700;
  --txt-size: 1.875vw;
  --txt-line-height: 2;
  --title-color: #fff;
  --txt-color: #fff;
  --txt-weight: 400;
  --slogan-font-size: 7.5vw;
  --slogan-color: #eafbff;
}
section {
  width: 100%;
  aspect-ratio: 16 / 10;
}

/* KV ==================================================== */
.section-index-kv {
  background: url(images/bg-index-section1.jpg) no-repeat center center / cover;
  position: relative;

  .main-title {
    position: absolute;
    left: 8.3333333%;
    text-align: left;
    color: var(--title-color);
    margin-top: 4.5em;

    .main-title-l1 {
      font-size: var(--title-txt-size);
      font-weight: var(--title-weight);
      line-height: 1.1;
    }

    p {
      font-size: var(--txt-size);
      font-weight: 500;
      line-height: var(--txt-line-height);
      margin-block: 0.70555556em;
    }
  }

  video {
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translate(0%, -50%);
    width: 100%;
    aspect-ratio: 16 / 10;
    object-fit: cover;
  }
}

/* slogan ==================================================== */
.slogan {
  width: 100%;
  aspect-ratio: 16 / 10;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--slogan-font-size);
  font-weight: 700;
  color: var(--slogan-color);
  text-align: center;
  background-color: #82aeb9;
}

/* 小車清單 */
.car-list {
  position: absolute;
  width: 100%;
  top: 15vw;
  left: 0;
  right: 0;
  display: flex;

  img {
    width: 100%;
  }

  .car-item {
    position: relative;

    img {
      position: relative;
      z-index: 1;
    }

    .txt {
      position: absolute;
      top: 16%;
      font-size: 2.5vw;
      font-weight: 300;
      color: #fff;
    }
  }

  .car-item:nth-child(1) {
    transform: translate(40%, 70%);
    .txt {
      right: 40%;
    }
  }
  .car-item:nth-child(2) {
    transform: translate(0, 20%);
    .txt {
      left: 0;
    }
  }
  .car-item:nth-child(3) {
    transform: translate();
    .txt {
      left: 0;
    }
  }
  .car-item:nth-child(4) {
    transform: translate();
    .txt {
      right: 0;
    }
  }
  .car-item:nth-child(5) {
    transform: translate(0, 20%);
    .txt {
      right: 0;
    }
  }
  .car-item:nth-child(6) {
    transform: translate(-40%, 70%);
    .txt {
      right: 0;
    }
  }
}

/* Part1 ==================================================== */
.section-part1 {
  position: relative;
  background: url(images/bg-gradient.png) no-repeat center top / cover;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 100%;
    width: 100%;
    aspect-ratio: 16.27/1;
    background: url(images/bg-part1-top.png) no-repeat center top / 100% auto;
    z-index: 1;
  }

  .container {
    position: relative;
    width: 100%;
    aspect-ratio: 16 / 10;
    background: url(images/bg-gradient.png) no-repeat center top / cover;

    .main-title {
      text-align: center;
      color: #fff;
      z-index: 5;
      padding-top: 5.41666667vw;

      .main-title-l1 {
        font-size: var(--title-txt-size);
        font-weight: 700;
        line-height: var(--title-line-height);
      }
      p {
        font-size: var(--txt-size);
        font-weight: 500;
        line-height: var(--txt-line-height);
        margin-block: 0.70555556em;
      }
    }
  }
}

/* Part2 ==================================================== */
.section-part2 {
  position: relative;
  background: #000;

  .container {
    position: relative;
    width: 100%;
    aspect-ratio: 16 / 10;

    .bg {
      position: absolute;
      z-index: 0;
      width: 100%;
      height: 100%;
      inset: 0;
      overflow: hidden;

      img,
      video {
        object-fit: cover;
        width: 100%;
        height: 100%;
        object-position: center;
      }
    }

    .tag {
      position: absolute;
      top: 4em;
      left: 8.333333%;
      font-size: 1.875vw;
      fonwt-weight: 500;
      color: var(--txt-color);
      border-left: 8px solid #82aeb9;
      line-height: 1.33333333;
      padding-left: 0.5em;
      z-index: 5;
    }

    .main-title {
      position: absolute;
      left: 8.333333%;
      bottom: 8vmin;
      text-align: left;
      color: var(--title-color);
      z-index: 5;

      .main-title-l1 {
        font-size: var(--title-txt-size);
        font-weight: var(--title-weight);
        line-height: var(--title-line-height);
      }
      p {
        font-size: var(--txt-size);
        font-weight: var(--txt-weight);
        line-height: 1.4;
        margin-block: 0.70555556em;
      }
    }
  }

  .container-comfort {
    .other-info {
      position: absolute;
      top: 25%;
      width: 100%;
      z-index: 4;

      display: flex;
      justify-content: center;
      gap: 4vmin;

      .pic {
        width: 16.66666667vw;
        height: 16.66666667vw;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }

  .container-listens,
  .container-can-feel {
    .other-info {
      position: absolute;
      top: 50%;
      right: 8.3333333%;
      width: 33.33333333%;
      z-index: 4;
      transform: translateY(-60%);

      .pic {
        width: 100%;
        height: 100%;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }

  .container-understands,
  .container-multiple-zones {
    .other-info {
      position: absolute;
      top: 23%;
      width: 100%;
      z-index: 4;

      display: flex;
      justify-content: center;
      gap: 16vw;

      .pic {
        width: 17.55208333vw;
        height: 17.55208333vw;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }

  .container-Engineered {
    .tag {
      border-left-color: #fff;
    }
  }
}

/* .Part1 content ======================== */
.section-part1 {
  .main-title {
    .title-topic {
      position: absolute;
      width: 100%;
      opacity: 0;
    }
  }
  .s1 {
    .topic1 {
      opacity: 1;
    }
  }
  .s2 {
    .topic2 {
      opacity: 1;
    }
  }
  .s3 {
    .topic3 {
      opacity: 1;
    }
  }
  .s4 {
    .topic4 {
      opacity: 1;
    }
  }
  .s5 {
    .topic5 {
      opacity: 1;
    }
  }
  .s6 {
    .topic6 {
      opacity: 1;
    }
  }

  .main-car {
    width: 100%;
    position: absolute;
    bottom: 0;
    .car {
      position: absolute;
      z-index: 4;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      outline: 1px solid red;

      img {
        width: 100%;
        height: auto;
      }
    }

    .light-circle {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      transform: translateY(-6%);
      width: 100%;
      mix-blend-mode: screen;
      overflow: hidden;
      outline: 1px solid blue;

      img {
        width: 100%;
      }
    }
  }
}
